<div class="index-banner" style="background-image: url('https://unsplash.com/photos/5gn2soeAc40');">
  <div class="index-banner-title">
    <h1>Discover</h1>
  </div>
</div>
<div class="card_wrapper">
  <div class="card_container">
    <div class="row">

    </div>
  </div>
</div>
<div class="index-map-wrapper">
  <div class="index-map-container" style="background-image: url('https://unsplash.com/photos/5gn2soeAc40')">
  </div>
</div>
