.home-banner {
  height: 100vh !important;
  color: #black;
  text-align: center;
  padding-top: 40vh;
  background-color: white;
  background: url(../assets/logo.jpeg) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
